{% set description = {
    title: "Описание"
} %}
<section class="description el-section">
    <div class="description__container">
        <h2 class="description__title el-title">{{ description.title }}</h2>
    </div>
</section>