<section class="quiz" data-quiz-section>
    <div class="quiz__container">
        <h2 class="quiz__title">Принимаете ли вы приглашение на нашу свадьбу?</h2>
        <form action="" class="quiz__form" data-quiz-form>
            <label for="yes" class="el-field quiz__form-label">Да</label>
            <input type="radio" class="js-test-input quiz__form-input" style="display: none" id="yes">
            <label for="yes" class="el-field quiz__form-label">Нет</label>
            <input type="radio" class="js-test-input quiz__form-input" style="display: none" id="yes">
        </form>
    </div>
</section>w