{% set social = {
    name: '@Instagram',
    link: '#',
} %}

<section class="s-social">
    <div class="s-social__container">
        <h2 class="s-social__title el-title">
            Хэштэг инстаграм
        </h2>
        <a class="s-social__link" href="{{ social.link }}" target="_blank">{{ social.name }}</a>
    </div>
</section>