.header {
  height: 100vh;
  position: relative;

  &__picture {
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
                      90.49deg, rgba(11, 10, 10, 0.45) -0.97%, rgba(13, 13, 13, 0.63) 29.5%, rgba(16, 16, 16, 0.32) 53.94%), linear-gradient(
                      0deg, rgba(78, 65, 51, 0.15), rgba(78, 65, 51, 0.15));
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 20%;
    }
  }

  &__container {
    @extend .l-container;
    position: absolute;
    top: 50%;
    //right: 50%;
    transform: translateY( -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__title {
    color: $c-white;
    text-align: center;
    font-family: $font-main;
    font-size: px-to-rem(55);
    letter-spacing: px-to-rem(4);
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1;
    max-width: px-to-rem(550);
  }

  &__text {
    color: $c-white-light;
    font-size: px-to-rem(25);
    font-weight: 400;
    margin-top: px-to-rem(25);
    text-align: center;
  }

  &__down {
    position: absolute;
    color: $c-white-light;
    font-size: px-to-rem(20);
    right: 50%;
    transform: translateX(50%);
    bottom: px-to-rem(20);
    padding: px-to-rem(15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;

    &-icon {
      margin-top: px-to-rem(20);
      transform: rotate(90deg);
    }

    &:hover {
      background: linear-gradient(274.88deg, #D8A74C 24.05%, #E9BD62 46.55%, #FFDB94 57.51%, #EEC36B 73.1%, #D09D41 91.16%),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @include media-breakpoint-up(md) {
    &__title {
      font-size: px-to-rem(75);
    }
  }

  @include media-breakpoint-up(lg) {
    &__container {
      left: 0;
      transform: translate(0, -50%);
    }
  }
}