.c-invitation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  min-height: px-to-rem(70);
  background: $c-white;
  display: flex;
  align-items: center;

  &__container {
    @extend .l-container;
  }
  &__content{
    display: flex;
  }

  &__link {
    min-width: px-to-rem(150);
    width: 100%;
    background: $c-main-bg;
    padding: px-to-rem(10) px-to-rem(30);
    text-decoration: none;
    transition: background-color .5s;
    white-space: nowrap;
    margin-right: px-to-rem(40);
    text-align: center;
    &:last-child{
      margin-right: 0;
    }

    &:hover{
      background: #d7d2c4;
      color: inherit;
    }
  }
}