.c-invitation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  min-height: px-to-rem(70);
  background: $c-white;
  align-items: center;
  display: flex;
  transform: translateY(-100%);
  transition: 0.3s transform;

  &.is-open {
    transform: translateY(0);
  }

  &__container {
    @extend .l-container;
  }

  &__content {
    padding-top: px-to-rem(20);
    padding-bottom: px-to-rem(20);
    display: none;

    &.is-open {
      display: flex;
    }
  }

  &__link {
    min-width: px-to-rem(150);
    width: 100%;
    background: $c-main-bg;
    padding: px-to-rem(10) px-to-rem(30);
    text-decoration: none;
    transition: background-color .5s;
    white-space: nowrap;
    margin-right: px-to-rem(40);
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: #d7d2c4;
      color: inherit;
    }
  }

  &__form {
    padding-top: px-to-rem(20);
    padding-bottom: px-to-rem(20);
    display: none;
    flex-direction: column;
    align-items: center;

    &.is-open {
      display: flex;
    }

    &-label {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: px-to-rem(16);
      font-weight: 600;
    }

    &-input {
      margin-top: px-to-rem(16);
      max-width: px-to-rem(100);
    }
  }
}