<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
        {# check if npm or wp build:  #}
        {% if not isGulpTwig %}
            <p style="color: red"> WP detected </p>
        {% else %}
            <p style="color: red"> Gulp detected </p>
        {% endif %}

    <main class="t-base">
        {% block body %}


        {% endblock %}
    </main>

    {% block scripts %}
        <script src="./js/scripts.js"></script>
    {% endblock %}
</body>
</html>