.description {
  height: 100vh;

  &__timer {
    height: 20%;
    padding: px-to-rem(15) 0;
    border-bottom: solid $c-accent px-to-rem(1);
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      @extend .l-container;
    }

    &-title {
      text-align: center;
    }

    &-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }

    &-item {
      margin-right: px-to-rem(15);
      color: $c-brand;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }
    }

    &-value {
      border-radius: 50%;
      border: solid $c-accent px-to-rem(1);
      padding: px-to-rem(16);
      font-weight: 500;
      margin-bottom: px-to-rem(10);
      box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }

    &-text {
      font-weight: 500;
    }
  }

  &__content {
    height: 80%;
  }
}