.description {
  height: 100vh;

  &__container {
    @extend .l-container;
  }

  &__timer {
    min-height: 20%;
    padding: px-to-rem(50) 0;
    border-bottom: solid $c-accent px-to-rem(1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      @extend .l-container;
    }

    &-title {
      text-align: center;
    }

    &-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }

    &-item {
      margin-right: px-to-rem(15);
      color: $c-brand;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }
    }

    &-value {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: px-to-rem(56);
      border: solid $c-accent px-to-rem(1);
      padding: px-to-rem(16);
      font-weight: 600;
      margin-bottom: px-to-rem(10);
      box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }

    &-text {
      font-weight: 500;
    }
  }

  &__content {
    min-height: 80%;
    padding-top: px-to-rem(50);
  }

  &__title {
    text-align: center;
    font-size: px-to-rem(36);
  }

  &__depiction {
    display: flex;
    justify-content: space-between;
  }

  &__section {
    &-title {
      font-size: px-to-rem(20);
    }

    &-label {
      font-weight: 500;
      padding-bottom: px-to-rem(5);
    }

    &-list {
      list-style: none;
    }
  }
}