.description {
  background: linear-gradient(180deg, #EFE2E0 0.17%, #FFFFFF 39.54%, rgba(255, 255, 255, 0.97) 66.75%, rgba(255, 255, 255, 0.21) 100%);

  &__container {
    @extend .l-container;
  }

  &__timer {
    min-height: 20%;
    padding: px-to-rem(50) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &-block {
      position: relative;
    }

    &-container {
      @extend .l-container;
      width: 100%;
      padding-left: px-to-rem(10);
      padding-right: px-to-rem(10);
    }

    &-title {
      text-align: center;
      font-family: $font-base;
      line-height: px-to-rem(50);
      text-transform: uppercase;

    }

    &-wrap {
      position: relative;
      padding: px-to-rem(10);
      max-width: px-to-rem(380);
      width: 100%;
      margin: px-to-rem(100) auto 0 auto;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15), inset 0px 0px 5px #FFFFFF;
    }

    &-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
      background: #fff3f3;
      gap: px-to-rem(20);
      padding: px-to-rem(40) px-to-rem(20);
      border: 2px solid rgba(115, 115, 115, 0.2);
    }

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


    &-item {
      color: $c-brand;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: px-to-rem(10);

      &:last-child {
        margin-right: 0;
      }
    }

    &-value {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      margin-bottom: px-to-rem(10);
      font-family: $font-base-bold;
      font-size: px-to-rem(30);
      line-height: px-to-rem(36);
    }

    &-text {
      font-weight: 500;
      color: $c-text;
      font-family: $font-main;
      font-size: px-to-rem(50);
      line-height: px-to-rem(36);
    }
  }

  &__content {
    padding-bottom: px-to-rem(50);
    min-height: 80%;
    padding-top: px-to-rem(50);
  }

  &__title {
    text-align: center;
    font-family: $font-base;
    text-transform: uppercase;


  }

  &__depiction {
    margin-top: px-to-rem(25);
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);

  }

  &__section {
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: px-to-rem(0);
    margin-bottom: px-to-rem(40);

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &-title {
      font-size: px-to-rem(50);
      line-height: 2.75rem;
      text-align: center;
      width: 100%;
      padding-bottom: 0;
      margin-bottom: 2rem;
      font-family: $font-main;
      font-weight: normal;
      color: $c-text;
    }

    &-label {
      font-weight: 500;
      padding-bottom: px-to-rem(5);
      text-align: center;
    }

    &-desc {
      text-align: center;
      margin-bottom: px-to-rem(16);
    }

    &-list {
      list-style: none;
    }
  }

  @include media-breakpoint-up(sm) {

    &__section {
      margin-right: px-to-rem(20);
    }
  }
  @include media-breakpoint-up(md) {
    &__depiction {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &__section {
      padding-left: px-to-rem(30);
      padding-right: px-to-rem(30);
      margin-bottom: 0;

      &:first-child {
        padding-left: 0;

        &:before {
          content: none;
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: px-to-rem(40);
        width: 1px;
        height: calc(100% - 40px);

        background-image: linear-gradient(0deg, rgba(93, 90, 86, 0.3), rgba(93, 90, 86, 0.3)),
        linear-gradient(274.88deg, #D8A74C 24.05%, #E9BD62 46.55%, #FFDB94 57.51%, #EEC36B 73.1%, #D09D41 91.16%);


      }
    }
    &__timer {
      padding-bottom: px-to-rem(100);

      &-list {
        padding: px-to-rem(50) px-to-rem(90) px-to-rem(30) px-to-rem(90);
        gap: px-to-rem(50);
      }

      &-item {
        margin-right: px-to-rem(50);
      }

      &-wrap {
        position: relative;
        background: rgba(253, 251, 248, 0.8);
        padding: px-to-rem(25);
        max-width: px-to-rem(640);
        width: 100%;
        margin: px-to-rem(120) auto 0 auto;
        z-index: 2;
      }

      &-value {
        font-size: px-to-rem(50);
        line-height: px-to-rem(60);
      }

      &-text {
        font-size: px-to-rem(50);
        line-height: px-to-rem(60);
      }
    }
  }
}