.description {
  &__container {
    @extend .l-container;
  }

  &__timer {
    min-height: 20%;
    padding: px-to-rem(50) 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      @extend .l-container;
      width: 100%;
      padding-left: px-to-rem(10);
      padding-right: px-to-rem(10);
    }

    &-title {
      text-align: center;
      font-family: $font-base-bold;
      line-height: px-to-rem(43);
    }

    &-wrap {
      position: relative;
      background: rgba(253, 251, 248, 0.8);
      padding: px-to-rem(10);
      max-width: px-to-rem(380);
      width: 100%;
      margin: 0 auto;
      z-index: -1;
    }

    &-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
      background: $c-white;
      border: 1px solid rgba(115, 115, 115, 0.2);
      gap: px-to-rem(20);
      padding: px-to-rem(40) px-to-rem(20);
    }

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
    }


    &-item {
      color: $c-brand;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: px-to-rem(10);

      &:last-child {
        margin-right: 0;
      }
    }

    &-value {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      margin-bottom: px-to-rem(10);
      font-family: $font-base-bold;
      font-size: px-to-rem(30);
      line-height: px-to-rem(36);
    }

    &-text {
      font-weight: 500;
      color: $c-text;
      font-family: $font-main;
      font-size: px-to-rem(50);
      line-height: px-to-rem(36);
    }
  }

  &__content {
    padding-bottom: px-to-rem(50);
    min-height: 80%;
    padding-top: px-to-rem(50);
    background: linear-gradient(180deg, #F8F4EB 0%, rgba(255, 255, 255, 0.79) 50.31%, #FFFFFF 100%);
  }

  &__title {
    text-align: center;
    font-family: $font-base-bold;

  }

  &__depiction {
    margin-top: px-to-rem(25);
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);

  }

  &__section {
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: px-to-rem(0);
    margin-bottom: px-to-rem(40);

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &-title {
      font-size: px-to-rem(50);
      line-height: 2.75rem;
      text-align: center;
      width: 100%;
      padding-bottom: 0;
      margin-bottom: 2rem;
      font-family: $font-main;
      font-weight: normal;
      color: $c-text;
      //min-height: px-to-rem(100);
    }

    &-label {
      font-weight: 500;
      padding-bottom: px-to-rem(5);
    }

    &-desc {
      text-align: center;
    }

    &-list {
      list-style: none;
    }
  }

  @include media-breakpoint-up(sm) {

    &__section {
      margin-right: px-to-rem(20);

      &-desc {
        text-align: left;
      }
    }
  }
  @include media-breakpoint-up(md) {
    height: 100vh;
    &__depiction {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &__section {
      padding-left: px-to-rem(30);
      padding-right: px-to-rem(30);
      margin-bottom: 0;

      &:first-child {
        padding-left: 0;

        &:before {
          content: none;
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: px-to-rem(40);
        width: 2px;
        height:calc(100% - 40px);
        background-color: #A2C4BB;
      }
    }
    &__timer {
      &-list {
        padding: px-to-rem(50) px-to-rem(90) px-to-rem(30) px-to-rem(90);
        gap: px-to-rem(50);
      }

      &-item {
        margin-right: px-to-rem(50);
      }

      &-wrap {
        position: relative;
        background: rgba(253, 251, 248, 0.8);
        padding: px-to-rem(25);
        max-width: px-to-rem(640);
        width: 100%;
        margin: 0 auto;
        z-index: 2;
      }

      &-value {
        font-size: px-to-rem(50);
        line-height: px-to-rem(60);
      }

      &-text {
        font-size: px-to-rem(50);
        line-height: px-to-rem(60);
      }
    }
  }
}