.description {
  height: 100vh;

  &__container {
    @extend .l-container;
  }

  &__timer {
    min-height: 20%;
    padding: px-to-rem(50) 0;
    border-bottom: solid $c-accent px-to-rem(1);
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      @extend .l-container;
    }

    &-title {
      text-align: center;
    }

    &-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }

    &-item {
      margin-right: px-to-rem(15);
      color: $c-brand;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }
    }

    &-value {
      border-radius: 50%;
      border: solid $c-accent px-to-rem(1);
      padding: px-to-rem(16);
      font-weight: 500;
      margin-bottom: px-to-rem(10);
      box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }

    &-text {
      font-weight: 500;
    }
  }

  &__content {
    min-height: 80%;
    padding-top: px-to-rem(50);
  }

  &__title {
    text-align: center;
  }

  &__depiction {
    margin-top: px-to-rem(25);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }

  &__section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: px-to-rem(0);
    margin-bottom: px-to-rem(40);

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &-title {
      font-size: px-to-rem(18);
    }

    &-label {
      font-weight: 500;
      padding-bottom: px-to-rem(5);
    }

    &-desc {
      text-align: center;
    }

    &-list {
      list-style: none;
    }
  }

  @include media-breakpoint-up(sm) {
    &__depiction {
      flex-direction: row;
    }

    &__section {
      max-width: 33.33%;
      margin-right: px-to-rem(20);
      align-items: end;

      &-title {
        font-size: px-to-rem(20);
      }
      &-desc{
        text-align: left;
      }
    }
  }
}