.description {
  height: 100vh;

  &__container {
    @extend .l-container;
  }

  &__timer {
    min-height: 20%;
    padding: px-to-rem(50) 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      @extend .l-container;
      width: 100%;

    }

    &-title {
      text-align: center;
      margin-bottom: px-to-rem(50);
      margin-top: px-to-rem(20);
      font-family: $font-base-bold;
      line-height: px-to-rem(43);
    }

    &-wrap {
      position: relative;
      background: #FDFBF8;
      box-shadow: 0px 2px 15px rgba(100, 100, 100, 0.2);
      padding: px-to-rem(25);
      max-width: px-to-rem(640);
      width: 100%;
      margin: 0 auto;
      z-index: 2;
    }

    &-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
      background-color: inherit;
      border: 3px solid rgba(115, 115, 115, 0.21);
      gap: px-to-rem(50);
      padding: px-to-rem(50) px-to-rem(90) px-to-rem(30) px-to-rem(90);
    }

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


    &-item {
      color: $c-brand;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: px-to-rem(50);

      &:last-child {
        margin-right: 0;
      }
    }

    &-value {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: px-to-rem(50);
      line-height: px-to-rem(60);
      margin-bottom: px-to-rem(10);
      font-family: $font-base-bold;
    }

    &-text {
      font-size: px-to-rem(50);
      font-weight: 500;
      line-height: px-to-rem(60);
      color: $c-text;
      font-family: $font-main;
    }
  }

  &__content {
    min-height: 80%;
    padding-top: px-to-rem(50);
    background: linear-gradient(180deg, #F8F4EB 0%, rgba(255, 255, 255, 0.79) 50.31%, #FFFFFF 100%);
  }

  &__title {
    text-align: center;
    font-family: $font-base-bold;
  }

  &__depiction {
    margin-top: px-to-rem(25);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }

  &__section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: px-to-rem(0);
    margin-bottom: px-to-rem(40);

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &-title {
      font-size: px-to-rem(18);
    }

    &-label {
      font-weight: 500;
      padding-bottom: px-to-rem(5);
    }

    &-desc {
      text-align: center;
    }

    &-list {
      list-style: none;
    }
  }

  @include media-breakpoint-up(sm) {
    &__depiction {
      flex-direction: row;
    }

    &__section {
      max-width: 33.33%;
      margin-right: px-to-rem(20);
      align-items: end;

      &-title {
        font-size: px-to-rem(20);
      }

      &-desc {
        text-align: left;
      }
    }
  }
}