.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: px-to-rem(100);

  &__input {
    margin-bottom: px-to-rem(16);

    &:last-child {
      margin-bottom: 0;
    }
  }
}