.register {
  padding-top: px-to-rem(70);

  $this: &;

  &__container {
    @extend .l-container;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-input {
      margin-bottom: px-to-rem(16);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__message {
    display: none;

    &-text {
      text-align: center;
    }
  }

  &.is-success {
    #{$this} {
      &__form {
        display: none;
      }

      &__message {
        display: block;
      }
    }
  }
}