.s-social {
  padding-top: px-to-rem(60);
  padding-bottom: px-to-rem(60);
  background-color: $c-white;
  background: linear-gradient(0deg, #EFE2E0 0.17%, #FFFFFF 39.54%, rgba(255, 255, 255, 0.97) 66.75%, rgba(255, 255, 255, 0.21) 100%);

  &__container {
    @extend .l-container;
  }

  &__title {
    text-align: center;
    font-family: "montserratbold", sans-serif;
  }

  &__link {
    font-size: px-to-rem(30);
    text-transform: uppercase;
  }

  &__phone {
    list-style-type: none;
    text-align: center;
    padding-top: px-to-rem(70);

    &-item {
      margin-bottom: px-to-rem(30);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-title {
      margin-bottom: px-to-rem(10);
    }
  }
}