.t-base {
  flex: 1 0 auto;
  background: linear-gradient(360deg, #E3D6D8 0%, rgba(255, 255, 255, 0) 64.91%), linear-gradient(181.86deg, rgba(94, 1, 20, 0.7) -3.52%, rgba(199, 160, 168, 0.7) 20.38%, rgba(255, 255, 255, 0.7) 44.54%);
}
