.el-field {
  border: 1px solid $c-border;
  max-width: 100%;
  padding: 0.875em 1em;
  text-align: left;
  text-align-last: left;
  transition: border 0.3s ease;
  box-shadow: none;
  width: 24rem;

  &:focus {
    border-color: $c-accent;
  }

  &[disabled] {
    background-color: $c-disabled;
    -webkit-text-fill-color: $c-accent;
  }
  &::placeholder {
    font-style: normal;
  }


  &--select {
    background-color: $c-white;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.7L1.6 0 9 7.7 16.4 0 18 1.7 9 11 0 1.7z' fill='%23304E91'/%3E%3C/svg%3E");
    background-position: calc(100% - 0.7rem) 47%;
    background-size: 1.13rem 0.7rem;
    background-repeat: no-repeat;
    padding-right: 2.7rem;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none;
    }
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $c-text;
    }
  }

  &--textarea {
    height: px-to-rem(200);
  }


}