.el-section {
  height: 100vh;
  padding-top: px-to-rem(30);
  padding-bottom: px-to-rem(30);

  @include media-breakpoint-up(md) {
    padding-top: px-to-rem(60);
    padding-bottom: px-to-rem(60);
  }
}