.el-title {
  font-style: normal;
  font-weight: normal;
  margin-bottom: px-to-rem(10);
  margin-top: px-to-rem(20);
  color: $c-brand;
  font-family: $font-main;
  font-size: px-to-rem(42);
  line-height: px-to-rem(54);
 }