.el-title {
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: px-to-rem(10);
  margin-top: px-to-rem(20);
  color: $c-brand;
  font-size: px-to-rem(20);
  font-family: $font-base;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: px-to-rem(28);
    margin-bottom: px-to-rem(50);
    margin-top: px-to-rem(20);
  }

  @include media-breakpoint-up(lg) {
    font-size: px-to-rem(32);
  }
 }