// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-gary:  #7C7C7C;


$c-brand: #23A68D;

$c-accent: #ad9b87;

$c-text: #737373;

$c-error: red;

$c-main-bg: #F8F4EB;

$c-border: #dedede;
$c-disabled: #f3f3f3;
