// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-gary:  #7C7C7C;


$c-brand: #29b298;

$c-accent: #ad9b87;

$c-text: #4b4b4b;

$c-error: red;

$c-main-bg: #f3eddf;

$c-border: #dedede;
$c-disabled: #f3f3f3;
