// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-gary:  #7C7C7C;
$c-white-light: #F1E5E2;


$c-brand: #5E5A56;

$c-accent: #ad9b87;

$c-text: #737373;

$c-error: red;

$c-main-bg: #f8f4eb;

$c-border: #dedede;
$c-disabled: #f3f3f3;
