$icons: (
    sprite: (width: 1070px, height: 500px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    ic-leaves: (width: 1070px, height: 500px, backgroundX: 0px, backgroundY: 0px),
);