.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ic-arrow {
  width: 612.02px;
  height: 612.02px;
}
.icon-ic-google {
  width: 42px;
  height: 42px;
}
.icon-ic-instagram {
  width: 42px;
  height: 42px;
}
.icon-ic-linkedin {
  width: 42px;
  height: 42px;
}
.icon-ic-twitter {
  width: 42px;
  height: 42px;
}
