<div class="c-invitation js-invitation">
    <div class="c-invitation__container">
        <div class="c-invitation__content">
            <a href="#" class="c-invitation__link">Не пойду</a>
            <a href="#" class="c-invitation__link js-going" data-btn-going>Пойду</a>
        </div>
    </div>
</div>