@font-face {
  font-family: "montserratregular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratbold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "odessa";
  font-display: swap;
  src: url("../fonts/odessapcforserge-medium.woff2") format("woff2"),
  url("../fonts/odessapcforserge-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}