@font-face {
  font-family: "montserratregular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratbold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "zapfino";
  font-display: swap;
  src: url("../fonts/Zapfino.ttf");
  font-weight: normal;
  font-style: normal;
}